# Accommodation Statistics
This notebook describes some statistics related to the accommodation database contained in [Tourpedia](http://tour-pedia.org/it/web/index.html). The accommodation database is available as a JSON dump.

In [170]:
import pandas as pd
df = pd.read_json ("data/Accommodations.json",lines=True)
df.describe()

,beds,latitude,longitude,postal-code,rooms,toilets,suites,breakfast,verified
count,38280.000000,5.506100e+04,5.506100e+04,68228.000000,36982.000000,20854.000000,9736.000000,9734.0,12.0
mean,30.951698,1.665378e+04,3.305475e+03,30974.365114,15.995809,6.538794,0.731615,1.0,1.0
std,79.134620,5.451332e+05,1.324939e+05,25156.011576,38.202621,19.548513,6.166128,0.0,0.0
min,0.000000,-1.947924e+00,-1.016322e+02,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,4.000000,0.000000e+00,0.000000e+00,6034.000000,2.000000,0.000000,0.000000,1.0,1.0
50%,9.000000,4.307927e+01,9.295483e+00,30028.000000,4.000000,1.000000,0.000000,1.0,1.0
75%,25.000000,4.492547e+01,1.249042e+01,47831.000000,14.000000,5.000000,0.000000,1.0,1.0
max,2600.000000,4.493033e+07,1.208115e+07,95973.000000,1093.000000,457.000000,212.000000,1.0,1.0

Calculate the number of rows (`shape`) and the number of null elements (`isnull()`).

In [171]:
n = df.shape[0]
n

(82645, 44)

In [172]:
count_null = df.isnull().sum()
count_null

In [173]:
n = df.shape[0]

In [174]:
perc_not_null = (n- count_null)/n*100
perc_not_null

_id                   100.000000
name                  100.000000
description            80.243209
number of stars        60.704217
address                97.769980
telephone              84.138181
cellular phone          8.830540
fax                    65.057777
web site               84.144231
email                  84.080102
opening period         14.999093
beds                   46.318592
region                100.000000
country                97.559441
latitude               66.623510
longitude              66.623510
postal-code            82.555509
city                   98.411277
province               53.565249
locality               42.908827
telephone2             10.926251
hamlet                 16.847964
rooms                  44.748019
toilets                25.233226
facilities             33.762478
credit/debit cards     12.672273
location               26.086273
languages              26.100793
sports equipment       15.099522
category               11.792607
suites                 11.780507
breakfast              11.778087
congress halls         11.778087
verified                0.014520
manager                 8.763991
elevation               4.850868
chain                   2.401839
high season price       7.661686
low season price        7.661686
photo                   7.672575
enrichment             20.831266
facebook                0.007260
instagram               0.002420
twitter                 0.001210
dtype: float64

In [175]:
count_null = df.groupby(by='region').sum()

In [176]:
regions = df.region.unique()
regions

array(['Basilicata', 'Bretagne', 'Comunidad Foral de Navarra',
       'Emilia Romagna', 'Friuli Venezia Giulia', 'Ile-de-France',
       'Liguria', 'Lombardia', 'Marche', 'Pays de la Loire', 'Piemonte',
       'Provence-Alpes-Côte d Azur', 'Puglia', 'Región de Murcia',
       'Lazio', 'Toscana', 'Trentino-Alto Adige', 'Umbria', 'Veneto'],
      dtype=object)

In [177]:
columns = df.columns
columns

Index(['_id', 'name', 'description', 'number of stars', 'address', 'telephone',
       'cellular phone', 'fax', 'web site', 'email', 'opening period', 'beds',
       'region', 'country', 'latitude', 'longitude', 'postal-code', 'city',
       'province', 'locality', 'telephone2', 'hamlet', 'rooms', 'toilets',
       'facilities', 'credit/debit cards', 'location', 'languages',
       'sports equipment', 'category', 'suites', 'breakfast', 'congress halls',
       'verified', 'manager', 'elevation', 'chain', 'high season price',
       'low season price', 'photo', 'enrichment', 'facebook', 'instagram',
       'twitter'],
      dtype='object')

In [178]:
def statistics(df, ctype,country=False):
    y = []
    values = df[ctype].unique()
    columns = df.columns
    for value in values:
        dr = df[df[ctype] == value]
        count_null = dr.isnull().sum()
        n = dr.shape[0]
        perc_not_null = (n- count_null)/n*100
        row = {}
        for i in range(0,len(perc_not_null)):
            row[columns[i]] = perc_not_null[i]
        row[ctype] = value
        y.append(row)
    names = y[0].keys()
    fn = 'data/' + ctype + '.csv'
    if country and not country != 'nan':
        print(country)
        print(ctype)
        fn = 'data/' + ctype + '-' + country + '.csv'
    with open(fn, 'w') as output_file:
        dict_writer = csv.DictWriter(output_file, names)
        dict_writer.writeheader()
        dict_writer.writerows(y)

In [179]:
import csv

types = ['region', 'country']
y = statistics(df, 'country')
countries = df['country'].unique()
for country in countries:
    dr = df.where(df['country'] == country)
    y = statistics(dr, 'region', country)

In [180]:
for country in countries:
    print(df['region'].where(df['country'] == country).unique())

['Basilicata' nan 'Emilia Romagna' 'Friuli Venezia Giulia' 'Liguria'
 'Lombardia' 'Marche' 'Puglia' 'Lazio' 'Toscana' 'Trentino-Alto Adige'
 'Umbria' 'Veneto']
[nan 'Bretagne' 'Ile-de-France' 'Pays de la Loire'
 'Provence-Alpes-Côte d Azur']
[nan 'Comunidad Foral de Navarra' 'Región de Murcia']
[nan]

In [181]:
df.groupby(by='region').count()

,_id,name,description,number of stars,address,telephone,cellular phone,fax,web site,email,...,manager,elevation,chain,high season price,low season price,photo,enrichment,facebook,instagram,twitter
region,,,,,,,,,,,,,,,,,,,,,
Basilicata,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,...,0,0,0,0,0,0,0,0,0,0
Bretagne,20,20,0,20,20,20,0,20,20,20,...,0,0,0,0,0,0,0,0,0,0
Comunidad Foral de Navarra,1843,1843,0,1843,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Emilia Romagna,9479,9479,9479,9479,9479,9479,0,9468,9479,9478,...,0,0,0,0,0,0,0,0,0,0
Friuli Venezia Giulia,738,738,738,738,738,738,738,738,738,738,...,0,0,0,0,0,0,0,0,0,0
Ile-de-France,2030,2030,0,2030,2030,2030,0,0,2030,2030,...,0,0,0,0,0,0,0,0,0,0
Lazio,11261,11261,0,0,11261,0,0,0,0,0,...,0,0,0,0,0,0,9300,0,0,0
Liguria,1321,1321,1321,1321,1321,1321,0,1321,1321,1321,...,0,0,0,0,0,0,0,0,0,0
Lombardia,9736,9736,9736,1,9736,9736,0,9736,9736,9736,...,0,0,0,0,0,0,0,0,0,0
Marche,5250,5250,5250,0,5250,5247,5247,5247,5250,5247,...,5247,0,0,0,0,0,0,0,0,0
Pays de la Loire,784,784,0,784,784,784,0,784,784,738,...,0,0,0,0,0,0,0,0,0,0
Piemonte,2017,2017,1793,0,2017,2017,0,2016,2017,2017,...,0,2017,0,0,0,0,0,0,0,0
Provence-Alpes-Côte d Azur,1996,1996,1995,1996,1996,1996,0,1991,1996,1995,...,1996,1992,1985,0,0,0,0,0,0,0
Puglia,6332,6332,6332,6332,6332,6331,0,6331,6332,6331,...,0,0,0,6332,6332,6331,0,0,0,0
Región de Murcia,165,165,0,0,165,165,0,165,165,165,...,0,0,0,0,0,0,0,0,0,0
Toscana,13725,13725,13725,13725,13725,13724,0,5,13725,13725,...,0,0,0,0,0,10,0,6,2,1
Trentino-Alto Adige,1514,1514,1514,1514,1514,1514,0,1514,1514,1514,...,0,0,0,0,0,0,0,0,0,0
Umbria,4048,4048,4048,0,4048,4048,0,4048,4048,4048,...,0,0,0,0,0,0,0,0,0,0
Veneto,9073,9073,9073,9073,9073,9073,0,9070,9073,9072,...,0,0,0,0,0,0,7916,0,0,0

In [182]:
df.groupby(by='city').count()

,_id,name,description,number of stars,address,telephone,cellular phone,fax,web site,email,...,manager,elevation,chain,high season price,low season price,photo,enrichment,facebook,instagram,twitter
city,,,,,,,,,,,,,,,,,,,,,
,27,27,25,23,26,23,1,2,26,23,...,1,0,0,0,0,0,0,0,0,0
- a igia - torre alta,1,1,1,1,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
- acquaio - pomezzana,1,1,1,1,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
- acquaviva n.a. 9a -,1,1,1,1,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
- ai bambini - albiano,1,1,1,1,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zugarramurdi,13,13,0,13,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zugliano,4,4,4,4,4,4,0,4,4,4,...,0,0,0,0,0,0,4,0,0,0
Zuhatzu,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zuriain,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zurucuin,2,2,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [183]:
df[df['city'] == 'Vannes'].region

1313    Bretagne
1327    Bretagne
1328    Bretagne
Name: region, dtype: object

In [184]:
df['postal-code']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
82640    32010.0
82641    32012.0
82642    32010.0
82643    32012.0
82644    32012.0
Name: postal-code, Length: 82645, dtype: float64

In [187]:
df['city']. isna(). sum()

1313

In [188]:
df['region']. isna(). sum()

0

In [189]:
#df = df[df['city'].notna()]
#df['city']. isna(). sum() 
#df['city'].reset_index(drop=True, inplace=True)

In [190]:
df['city'][0]

nan

# Enrich data with Geonames IDs

In [191]:
import numpy as np
n = df.shape[0]
geonames_id = np.zeros(n)
df['geonames_id'] = geonames_id

In [192]:
df.columns

Index(['_id', 'name', 'description', 'number of stars', 'address', 'telephone',
       'cellular phone', 'fax', 'web site', 'email', 'opening period', 'beds',
       'region', 'country', 'latitude', 'longitude', 'postal-code', 'city',
       'province', 'locality', 'telephone2', 'hamlet', 'rooms', 'toilets',
       'facilities', 'credit/debit cards', 'location', 'languages',
       'sports equipment', 'category', 'suites', 'breakfast', 'congress halls',
       'verified', 'manager', 'elevation', 'chain', 'high season price',
       'low season price', 'photo', 'enrichment', 'facebook', 'instagram',
       'twitter', 'geonames_id'],
      dtype='object')

In [194]:
df[df['geonames_id'] > 0].count()

_id                   239
name                  239
description             0
number of stars       239
address                19
telephone              19
cellular phone          0
fax                    19
web site               19
email                  19
opening period          0
beds                    0
region                239
country               239
latitude              239
longitude             239
postal-code            19
city                  239
province                0
locality                0
telephone2              0
hamlet                  0
rooms                   0
toilets                 0
facilities              0
credit/debit cards      0
location                0
languages               0
sports equipment        0
category                0
suites                  0
breakfast               0
congress halls          0
verified                0
manager                 0
elevation               0
chain                   0
high season price       0
low season price        0
photo                   0
enrichment              0
facebook                0
instagram               0
twitter                 0
geonames_id           239
dtype: int64

In [195]:
import csv
countries_list = ['IT', 'FR', 'ES']
country_df = {}
for c in countries_list:
    geonames_list = list(csv.reader(open('geonames/'+ c + '.txt', 'r'), delimiter='\t'))
    country_df[c] = pd.DataFrame(geonames_list)
    country_df[c].rename(columns={0: 'geonames_id', 1:'city'}, inplace=True)

In [196]:
def get_acronym(country):
    if country == 'Italy':
        return 'IT'
    if country == 'France':
        return 'FR'
    if country == 'Spain':
        return 'ES'
    return ''

In [197]:
df.loc[df['region'] == 'Piemonte', ['country']] = 'IT'

In [198]:
# accenti sbagliati
# iniziali minuscole
# nome in due lingue
df.loc[df['city'] == "Citta' di castello", ['city']] = "Città di Castello"
df.loc[df['city'] == "Nardo'", ['city']] = "Nardò"
df.loc[df['city'] == "Citta' della pieve", ['city']] = "Città della pieve"
df.loc[df['city'] == "Forli'", ['city']] = "Forlì"
df.loc[df['city'] == "CANAZEI - CIANACEI", ['city']] = "Canazei"
df.loc[df['city'] == "MOENA - MOENA", ['city']] = "Moena"
df.loc[df['city'] == "POZZA DI FASSA - POZA", ['city']] = "Pozza di Fassa"
df.loc[df['city'] == "VIGO DI FASSA - VICH", ['city']] = "Vigo di Fassa"
df.loc[df['city'] == "CAMPITELLO DI FASSA - CIAMPEDEL", ['city']] = "Campitello di Fassa"

In [199]:
df[df['region'] == 'Pitemonte']['country']

Series([], Name: country, dtype: object)

In [200]:
df[df['city'] == 'Asti']['country']

32740    IT
32741    IT
32742    IT
32743    IT
32744    IT
32745    IT
33302    IT
33303    IT
33305    IT
33306    IT
33307    IT
33308    IT
33880    IT
33886    IT
33887    IT
33894    IT
33902    IT
33903    IT
33906    IT
33907    IT
33908    IT
33917    IT
33920    IT
33923    IT
Name: country, dtype: object

In [201]:
count_not_found = 0
not_found_list = []
for i in range(0, n):
    if str(df['city'][i]) != 'nan':
        city = df['city'][i]
        c = get_acronym(df['country'][i])
        if c:
            cdf = country_df[c]
            index = cdf[cdf['city'].str.lower() == city.lower()].reset_index()
            if not index.empty:
                df['geonames_id'][i] = index['geonames_id'][0]
            else:
                count_not_found += 1
                not_found_list.append({'city': city, 'country' : c})
        else:
            count_not_found += 1
            not_found_list.append({'city': city, 'country' : c})
df[df['geonames_id'] > 0].count()

<ipython-input-201-145e24640b98>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['geonames_id'][i] = index['geonames_id'][0]

_id                   63474
name                  63474
description           48173
number of stars       33222
address               62128
telephone             50866
cellular phone         5963
fax                   48857
web site              50867
email                 50828
opening period         8667
beds                  34653
region                63474
country               63474
latitude              39507
longitude             39507
postal-code           50867
city                  63474
province              41230
locality              34549
telephone2             8927
hamlet                13792
rooms                 36590
toilets               20643
facilities            25473
credit/debit cards    10287
location              19154
languages             19166
sports equipment      10278
category               9581
suites                 9571
breakfast              9569
congress halls         9569
verified                 11
manager                6889
elevation              1640
chain                  1634
high season price      6307
low season price       6307
photo                  6316
enrichment            17039
facebook                  6
instagram                 2
twitter                   1
geonames_id           63474
dtype: int64

In [93]:
df.to_json('data/Accommodation_with_geonames_id.json')

In [202]:
df['city']. isna(). sum()

1313

In [203]:
df['country']. isna(). sum()

0

In [204]:
df.count()['geonames_id']

82645

In [205]:
df[df['geonames_id'] > 0].count()['geonames_id']

63474

In [206]:
nfl_df = pd.DataFrame(not_found_list)

In [207]:
nfl_df.groupby(by='country').count()

          city
country
          2017
ES         547
FR         624
IT       14685

In [208]:
grouped = nfl_df.groupby(by=['city']).count()
grouped.sort_values('country', ascending=False).head(30)

                      country
city
Bellaria igea marina      399
Torino                    184
Cavallino treporti         98
Reggio emilia              92
Sal                        86
Stresa                     58
Sauze d'oulx               46
Novara                     40
Hyres                      39
Ochagava                   38
Acqui terme                37
Baveno                     36
Sestriere                  33
Bardonecchia               31
Alessandria                30
                           27
Verbania                   26
Saint-raphal               25
Asti                       24
Luzaidevalcarlos           22
Frjus                      22
Cannobio                   21
Tem                        20
BASELGA DI PINE'           19
Orta san giulio            19
Macugnaga                  19
SORAGA - SORAGA            18
Tortona                    17
Limone piemonte            16
Chivasso                   16

In [166]:
cdf[cdf['city'] == 'Vigo di Fassa']

,geonames_id,city,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
3833,3164330,Vigo di Fassa,Vigo di Fassa,"Vigo di Fassa,ヴィーゴ・ディ・ファッサ",46.41898,11.67418,P,PPLA3,IT,,17,TN,022250,,1036,1382,1374,Europe/Rome,2019-03-08
35438,6538227,Vigo di Fassa,Vigo di Fassa,"Comune di Vigo di Fassa,Vigo di Fassa",46.41862,11.67338,A,ADM3H,IT,,17,TN,022217,,1207,,1371,Europe/Rome,2019-03-03

In [110]:
len(nfl_df['city'].unique())

15254

In [ ]:
geonames_id = []
count_not_found = 0
not_found_list = []
for i in range(0, n):
    if str(df['city'][i]) != 'nan':
        city = df['city'][i]
        country = df['country'][i]
    
    
        url = burl + urllib.parse.quote(city + " " + country) + username
        print(i)
        with urllib.request.urlopen(url) as url:
            data = json.loads(url.read().decode())
            print(data)
            if 'geonames' in data:
                if data['geonames']:
                    #geonames_id.append(data['geonames'][0]['geonameId'])
                    df['geonames_id'][i] = data['geonames'][0]['geonameId']
                else:
                    count_not_found += 1
                    not_found_list.append({'city': city, 'country' : country})
            else:
                count_not_found += 1
                not_found_list.append({'city': city, 'country' : country})

In [145]:
df.head(10)

,_id,name,description,number of stars,address,telephone,cellular phone,fax,web site,email,...,elevation,chain,high season price,low season price,photo,enrichment,facebook,instagram,twitter,geonames_id
0,BAS1,Albergo La Primula,Albergo,4,"Via delle Primule, 84 85100 Potenza (PZ)",0971 58310,339 1485480,0971 470902,www.albergolaprimula.it,info@albergolaprimula.it,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,BAS10,My Room Old Town Potenza,Affittacamere,0,"Vico Quintana Grande, 20 85100 Potenza (PZ)",0971 1630168,333 2301048,,www.myroomnetwork.com,potenza@myroomnetwork.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,BAS100,Dimora Santa Barbara,Affittacamere,0,"Via Muro, 55 75100 Matera (MT)",0835 310813,334 7488444,,www.bbsantabarbara.it,info@bbsantabarbara.it,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,BAS1000,Le Costellazioni,Borgo albergo,0,"Via della Stazione, 1 85010 Pietrapertosa (PZ)",0971 946619,329 7035485,0971 946879,,bbdegliulivi@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,BAS1001,Le Costellazioni,Borgo albergo,0,"Via della Stazione, 1 85010 Pietrapertosa (PZ)",0971 983035,335 1309371,,www.lecostellazioni.eu,info@lecostellazioni.eu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
5,BAS1002,Albergo Il Frantoio,Albergo,2,"Via Michele Torraca, 15/17 85010 Pietrapertos...",0971 983190,342 0548503,0971 983080,,alb.frantoio@tiscalinet.it,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6,BAS1003,Affittacamere Andromeda,Affittacamere,0,"Via Nazionale, 2 A 85010 Pietrapertosa (PZ)",0971 983190,335 5405958,,,marianna.ferri@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7,BAS1004,Affittacamere Cassiopea,Affittacamere,0,"Traversa Vico 2° Michele Torraca, 5 85010 Pie...",0971 983035,347 7950276,0971 983035,www.lecostellazioni.eu,info@lecostellazioni.eu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8,BAS1005,Affittacamere Cefeo,Affittacamere,0,"Traversa Vico 2° Michele Torraca, 1 85010 Pie...",0971 983035,347 7950276,0971 983035,www.lecostellazioni.eu,info@lecostellazioni.eu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
9,BAS1006,Affittacamere Delfino,Affittacamere,0,"Vico 3° Michele Torraca, 10 85010 Pietraperto...",0971 983035,347 7950276,0971 983035,www.lecostellazioni.eu,info@lecostellazioni.eu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0